@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "BegumSans";
  src: url("../public/fonts/BegumSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #e5e2db;
}
